<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <header style="text-align: center;">
        <h1>Contact with us if you have any queries</h1>
    </header>
    
    <div class="container">
        <form method = "post" action="{% url 'contact' %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button>Send</button>
    
        </form>
    </div>
</body>
</html>
