<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <header style="text-align: center;">
        <h1>Contact with us if you have any queries</h1>
    </header>
    
    <div class="container">
        <form method = "POST" action="{% url 'contact' %}">
        {% csrf_token %}
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" placeholder="Your name..">
    
            <label for="mnumber">Phone Number</label>
            <input type="text" id="mnumber" name="mnumber" placeholder="Your Phone Number..">
    
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
    
            <input type="submit" value="Submit">
    
        </form>
    </div>

    <!-- Continue with the rest of your HTML content -->
</body>
</html>
